# Importing necessary libraries

In [67]:
import numpy as np
import pandas as pd

In [68]:
df = pd.read_csv("SuperStore_Orders.csv",encoding = "ISO-8859-1")

# Checking datatypes and changing them to appropriate types

In [69]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales               int64
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [70]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,01-2011,06-2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,01-2011,08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,01-2011,05-2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,01-2011,05-2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,01-2011,08-2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011

In [71]:
import datetime

In [72]:
df['order_date'] = df['order_date'].astype('datetime64[ns]')

In [73]:
df['ship_date'] = df['ship_date'].astype('datetime64[ns]')

In [74]:
# df['sales'] = df['sales'].str.replace(",","",regex = False)

In [75]:
df['sales'] = df['sales'].astype(int)

In [ ]:
df['order_date'] = df['order_date'].dt.strftime('%m-%Y')

In [ ]:
df['ship_date'] = df['ship_date'].dt.strftime('%m-%Y')

# Checking for nulls

In [ ]:
df.isnull().sum()

# Saving the file

In [ ]:
df.to_excel("Superstore_orders.xlsx",index = False)